@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}

body {
    background-color: #1d1d1d;
    overflow: hidden;
}

.titleDiv {
    text-align: center;
    margin-top: 9%;
    font-size: 1.5em;
}

.lightBubble {
    width: 60%;
    aspect-ratio: 1;
    background: #745BD6;
    filter: blur(200px);
    border-radius: 100%;
    position: absolute;
    z-index: -100;
}

.imagePres {
    width: 52%;
}

.firstImage {
    transform: rotate3d(-6, 34, 6, 36deg);
    margin-top: 7%;
}

.lightBubble1 {
    top: -30%;
    left: -30%;
}

.lightBubble2 {
    top: 30%;
    right: -30%;
}

.lightBubble3 {
    top: 100%;
    left: -30%;
}

.lightBubble4 {
    top: 90%;
    right: -30%;
}

.atout1,
.atout3 {
    position: absolute;
    right: 3%;
    width: 40%;
    margin-top: 0 !important;
}

.atout2 {
    position: absolute;
    left: 3%;
    width: 40%;
}

.homemenuImage {
    position: absolute;
    right: 0;
    margin-top: 100px;
}

.firstSection,
.secondSection,
.thirdSection {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.firstSection {
    padding-bottom: 2%;
}

.secondSection,
.thirdSection {
    margin-top: 21%;
}

.finalSection {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 2% 0;
    background: #1d1d1d73;
    padding: 9% 1%;
    backdrop-filter: blur(100px);
    align-items: center;
}

.textDownload,
.downloadDiv {
    display: flex;
    flex-direction: column;
}

footer {
    background: #0d0d0d;
    text-align: center;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: -7px -10px 20px 20px #0d0d0d;
}

.leftFooter,
.centerFooter,
.rightFooter {
    width: 22%;
    display: flex;
    flex-direction: column;
}

.leftFooter span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5%;
}

.leftFooter img {
    height: 36px;
    width: 38px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #080808;
    border: 0px none #ffffff;
    border-radius: 50px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #080808;
}

 ::-webkit-scrollbar-thumb:active {
    background: #080808;
}

 ::-webkit-scrollbar-track {
    background: #1d1d1d;
    border: 0px none #ffffff;
    border-radius: 100px;
}

 ::-webkit-scrollbar-track:hover {
    background: #1d1d1d;
}

 ::-webkit-scrollbar-track:active {
    background: #1d1d1d;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .titleDiv {
        font-size: 1em;
    }
    p,
    a,
    h2 {
        font-size: 0.5em;
    }
    .secondSection,
    .thirdSection {
        margin-top: 30%;
    }
    .homemenuImage {
        margin-top: 0;
    }
    .lightBubble {
        filter: blur(80px);
    }
    .lightBubble1 {
        top: -7%;
        left: -15%;
    }
    .lightBubble2 {
        top: 20%;
        right: 0%;
    }
    .lightBubble3 {
        top: 40%;
        left: -30%;
    }
    .lightBubble4 {
        top: 70%;
        right: 0%;
    }
    footer {
        height: 165px;
    }
}